//button
$btn-bg-gossamer: rgb(204, 136, 9);
$btn-text-color: rgb(255, 248, 248);
$btn-border-color: rgb(204, 136, 9);
$btn-bg-gossamer-hover: linear-gradient(rgb(94, 56, 8), rgb(204, 136, 9));
$btn-border-white-hover: #fff;
$btn-bg-gossamer-clicked: rgb(94, 56, 8);
